# Gradle
/build/
/.gradle/
!gradle/wrapper/gradle-wrapper.jar
build/tmp/

# Node.js
/node_modules/

# IDEs
.idea/
*.iml
*.ipr
*.iws
*.class
*.log
*.tmp
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Spring Boot
*.jar
*.war
*.ear

# Env
.env

# Gradle/Java build and cache files
*.lock
*.bin
*.properties
